/* HEADER STARTED */


html {
    box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
    font-family: 'Montserrat', 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2;
    color: #000;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1;
}
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 26.5px 0;
    margin: 0 40px 0 90px;
}
.header__list {
    display: flex;
    flex-wrap: wrap;
}
.header__item {
    margin-right: 114px;
}
.header__item:last-child {
    margin-right: 0;
}
.header__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #252B42;
  text-decoration: none;
}
.header__link-orange {
    color: #FA4A0C;
}
.header__link:hover, .header__link:focus, .header__link:active { 
  opacity: 0.5;
}


/* INTRO STARTED */


.main {
    padding-top: 155px;
}
.intro {
    min-height: 620px;
    background: url(../img/img-to-intro.png) no-repeat center;
    background-size: cover;
    padding-top: 73px;
}
.intro__wrapper {
    max-width: 937px;
    margin: 0 auto;
}
.intro__preview {
    text-align: center;
}
.intro__preview__subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #f6f6f6;
    margin-bottom: 17px; 
}
.intro__preview__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    color: white;
    margin-bottom: 27px;
}
.intro__preview__under-title-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: white;
    margin-bottom: 54px;
}


.intro__button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.intro__button-playstore, .intro__button-app-store {
    padding: 17px 60.5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: white;
    border-radius: 30px;
}
.intro__button-playstore {
    background: #FA4A0C;
    border: 0;
    margin-right: 45px;
}
.intro__button-playstore:hover, .intro__button-playstore:focus, .intro__button-playstore:active { 
    opacity: 0.5;
}
.intro__button-app-store {
    background: transparent;
    border: 1;
    border-color: white;
}
.intro__button-app-store:hover, .intro__button-app-store:focus, .intro__button-app-store:active { 
    opacity: 0.5;
}


/* SECTION PHONE-TITLE STARTED */


.phone-title {
    position: relative;
    max-width: 884px;
    margin: auto;
}

.phone-title__phone {
    display: block;
    margin-top: -90px;
    margin-bottom: 201px;
    width: 100%;
    position: relative;
    left: 170px;
}
.phone-title__phone::after {
    content: "";
    width: 100%;
    height: 3px;

    position: absolute;
    left: 31%;
    bottom: -129px;
    transform: translateX(-50%);

    background-color: #E4E4E4;
}

.phone-title__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    text-align: center;
    margin-bottom: 59px;
}


/* SECTION BLOCK-IMG-TO-TEXT STARTED */


.section__block-img-to-text {
    max-width: 1030px;
    margin: 0 auto;
}
.block-img-to-text {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 130px;
}

.section__block__text {
    margin-top: 155px;
    max-width: 560px;   
}
.block__text1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FA4A0C;
    margin-bottom: 17px;
}
.block__text2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #252B42;
    margin-bottom: 27px;
}
.block__text3 {
    max-width: 470px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #737373;
}


/* SECTION BLOCK-TEXT-TO-IMG */


.section__block-text-to-img {
    max-width: 1030px;
    margin: 0 auto;
}
.block-text-to-img {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 210px;
}

.section__block__text {
    margin-top: 155px;
    max-width: 560px;   
}
.block__text1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FA4A0C;
    margin-bottom: 17px;
}
.block__text2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #252B42;
    margin-bottom: 27px;
}
.block__text3 {
    max-width: 470px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #737373;
}


/* SECTION BLOCK-IMG-TO-TEXT STARTED */


.section__block-img-to-text {
    max-width: 1030px;
    margin: 0 auto;
}
.block-img-to-text {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 215px;
}

.section__block__text {
    margin-top: 155px;
    max-width: 560px;   
}
.block__text1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FA4A0C;
    margin-bottom: 17px;
}
.block__text2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #252B42;
    margin-bottom: 27px;
}
.block__text3 {
    max-width: 470px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #737373;
}


/* SECTION OUTRO STARTED */


.outro {
    min-height: 516px;
    background: url(../img/img-to-outro.png) no-repeat center;
    background-size: cover;
    margin-bottom: 0px;
    text-align: center;
}
.outro__text__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    padding-top: 145px;
    margin-bottom: 20px;
}
.outro__text__subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    margin-bottom: 60px;
}


.outro__button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.outro__button-playstore, .outro__button-app-store {
    padding: 18px 31px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border-radius: 10px;
}
.outro__button-playstore {
    background: #FA4A0C;
    border: 0;
    margin-right: 45px;
}
.outro__button-playstore:hover, .outro__button-playstore:focus, .outro__button-playstore:active { 
    opacity: 0.5;
}
.outro__button-app-store {
    background: transparent;
    border: 1;
    border-color: white;
}
.outro__button-app-store:hover, .outro__button-app-store:focus, .outro__button-app-store:active { 
    opacity: 0.5;
}


/* SECTION FOOTER STARTED */


.footer {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 115px;
    padding: 37px 0 53px 0;
}
.footer__social-media img {
    margin-right: 32px;
}
.footer__social-media:last-child {
    margin-right: 0px;
}
.footer__copywrighter { 
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}